<div><%= notice %></div>

<h1>User</h1>

<div class='show_box'>
  <div class='label'>Name:</div>
  <div class='show_line'><%= @user.name %></div>
</div>

<div class='show_box'>
  <div class='label'>Surname:</div>
  <div class='show_line'><%= @user.surname %></div>
</div>

<div class='show_box'>
  <div class='label'>E_mail:</div>
  <div class='show_line'><%= @user.email %></div>
</div>
 